@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../../fonts/opensans.woff2") format("woff2"),
    url("../../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  src: url("../../fonts/opensansbold.woff2") format("woff2"),
    url("../../fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url("../../fonts/opensanslight.woff2") format("woff2"),
    url("../../fonts/opensanslight.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}
