@mixin margin-padding-reset {
  padding: 0;
  margin: 0;
}

@mixin list-reset {
  padding: 0;
  list-style: none;
}

@mixin button-base {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@mixin input-interaction($el: "&") {
  &:hover {
    #{$el} {
      border: 2px solid $dark-blue;
    }
  }

  &:active {
    #{$el} {
      border: 2px solid $pink;
    }
  }

  &:focus {
    #{$el} {
      border: 2px solid $pink;
      outline: none;
    }
  }
}
