$white: #ffffff;
$black: #000000;
$dark-blue: #283645;
$light-blue: #f2f2f2;
$pink: #d22856;
$pink-30: rgba(210, 40, 86, 0.3);
$white-30: rgba(255, 255, 255, 0.3);

$mobile: 320px;
$tablet: 660px;
$desktop: 1200px;

$header-height-mobile: 66px;
$header-height-tablet: 110px;
