.benefits {
  text-align: center;
  font-weight: 300;
  color: $dark-blue;
  padding-top: 46px;
}

.benefits__list {
  padding-top: 95px;
}

.benefits__moto-wrapper {
  background-color: $white;
  margin-bottom: 29px;
}

.benefits__moto {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.benefits__moto:not(:last-child) {
  margin-bottom: 40px;
}

.benefits__list-wrapper {
  background-color: $whitish;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 4%);
}

@media (min-width: $tablet) {
  .benefits {
    padding-top: 59px;
  }

  .benefits__moto-wrapper {
    margin-bottom: 50px;
  }

  .benefits__moto {
    font-size: 40px;
    line-height: 56px;
  }

  .benefits__moto:not(:last-child) {
    margin-bottom: 0;
  }

  .benefits__flex-container {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .benefits__list {
    flex: 1 0 293px;
    text-align: left;
    margin: 30px 0 0 41px;
  }
}

@media (min-width: $desktop) {
  .benefits__list {
    display: flex;
    flex-basis: 100%;
    margin: 0 auto;
  }
}
