.benefits {
  text-align: center;
  font-weight: 300;
  color: $dark-blue;
  padding-top: 40px;
}

.benefits__list {
  padding-top: 85px;
}

.benefits__moto-wrapper {
  position: relative;
  background-color: $white;
  margin-bottom: 29px;
  z-index: 2;
}

.benefits__moto {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.benefits__moto:not(:last-child) {
  margin-bottom: 21px;
}

.benefits__list-wrapper {
  background-color: $whitish;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 94px;
    background-image: url("../../img/bg-triangle-white.svg");
    z-index: 1;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}

.benefits__tablet {
  position: relative;
  width: 157px;
  height: 280px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 2;
}

.benefits__tablet-image {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .benefits {
    padding-top: 44px;
  }

  .benefits__moto-wrapper {
    margin-bottom: 35px;
  }

  .benefits__moto {
    font-size: 40px;
    line-height: 50px;
  }

  .benefits__moto:not(:last-child) {
    margin-bottom: 0;
  }

  .benefits__flex-container {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .benefits__list {
    flex: 1 0 293px;
    text-align: left;
    margin: 70px 0 0 41px;
    padding-top: 0;
  }

  .benefits__tablet {
    width: auto;
    align-self: flex-end;
    height: auto;
  }

  .benefits__tablet-image {
    width: 100%;
    height: auto;
  }
}

@media (min-width: $desktop) {
  .benefits {
    padding-top: 67px;
  }

  .benefits__moto-wrapper {
    margin: 0 auto;
    padding-bottom: 74px;
  }

  .benefits__moto {
    font-size: 50px;
    line-height: 62px;
  }

  .benefits__list {
    display: flex;
    flex-basis: 100%;
    margin: 0 auto;
  }

  .benefits__tablet-image {
    display: none;
  }
}
