.button {
  display: inline-block;
  background-color: transparent;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: $white;
  border: none;
  cursor: pointer;

  &--primary {
    padding: 17px 54px;
    border: solid 3px $white;
    border-radius: 40px;
  }
}
