.button {
  @include button-base;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: $white;

  &--primary {
    padding: 14px 20px;
    border: solid 3px $white;
    border-radius: 40px;

    &:hover {
      color: $pink;
      background-color: $white;
    }

    &:active {
      color: $pink-30;
    }
  }

  &--secondary {
    color: $pink;
    padding: 14px 20px;
    border: solid 3px $pink;
    border-radius: 40px;
  }

  &--tertiary {
    color: $dark-blue;
    padding: 14px 20px;
    border: solid 3px $dark-blue;
    border-radius: 40px;
    opacity: 0.1;
  }

  &--accent {
    padding: 20px 10px;
    text-transform: uppercase;
    color: $white;
    background-color: $green;
    border-radius: 3px;
  }
}

@media (min-width: $tablet) {
  .button {
    padding: 14px 40px;
  }
}

@media (min-width: $desktop) {
  .button {
    padding: 15px 38px;
  }
}
