.contact__heading {
  margin: 45px auto 37px auto;
}

.contact__list {
  text-align: center;
}

.contact__list-item {
  margin-bottom: 28px;
}

.contact__text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 7px;
}

.contact__link {
  font-size: 24px;
  font-weight: 300;
  color: $pink;
}

.contact__map {
  height: 190px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 73px;
    top: -22px;
    left: 0;
    background-image: url("../../img/bg-triangle-white-footer.svg");
    background-size: auto 100%;
    background-position: center 100%;
    background-repeat: no-repeat;
    z-index: 2;
  }

  &::after {
    position: absolute;
    content: "";
    top: 29%;
    left: 44%;
    width: 36px;
    height: 36px;
    background-image: url("../../img/icon-map-marker.svg");
    z-index: 1;
  }
}

@media (min-width: $tablet) {
  .contact__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contact__list-item {
    margin-bottom: 47px;

    &--address {
      max-width: 35.33%;
    }
  }

  .contact__heading {
    max-width: 63%;
    font-size: 40px;
  }

  .contact__map {
    height: 400px;

    &::after {
      top: 40%;
      left: 47%;
    }

    &::before {
      height: 123px;
      top: 0;
    }
  }
}

@media (min-width: $desktop) {
  .contact__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contact__list-item {
    max-width: 32.33%;

    &--tel {
      order: 1;
    }

    &--address {
      order: 2;
      margin-left: 35px;
    }

    &--mail {
      order: 3;
    }
  }

  .contact__heading {
    margin: 65px auto 65px auto;
  }

  .contact__text {
    margin-bottom: 25px;
  }

  .contact__map {
    &::after {
      top: 40%;
      left: 48%;
    }

    &::before {
      top: -23px;
    }
  }
}
