.contact__heading {
  margin: 50px auto 43px auto;
}

.contact__list {
  text-align: center;
}

.contact__list-item {
  margin-bottom: 28px;
}

.contact__text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact__link {
  font-size: 24px;
  font-weight: 300;
  color: $pink;
}
