.customer-photo {
  color: $dark-blue;
}

.customer-photo__item {
  margin-bottom: 20px;

  &--half-width {
    padding: 0 10px;
  }
}

.customer-photo__half-width {
  padding: 0 10px;
}

.customer-photo__description {
  max-width: 500px;
  margin: 50px auto 68px auto;
}

@media (min-width: $tablet) {
  .customer-photo__description {
    margin: 100px auto 80px;
  }

  .customer-photo__full-width {
    width: 100%;
  }

  .customer-photo__half-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .customer-photo__item {
    &--half-width {
      flex: 0 1 50%;
      max-width: 50%;
    }
  }
}

@media (min-width: $desktop) {
  .customer-photo__description {
    padding: 18px 0;
  }

  .customer-photo__item {
    margin-bottom: 50px;

    &--half-width {
      flex: 0 1 33.33%;
      max-width: 33.33%;
      margin-bottom: 54px;
    }
  }
}
