.footer {
  text-align: center;
  padding: 40px 17px;

  &--index {
    display: none;
  }
}

.footer__copy {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 18px;
  color: $dark-blue;
}

@media (min-width: $tablet) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 36px 20px 39px 20px;
  }
}

@media (min-width: $desktop) {
  .footer {
    padding: 68px 20px 70px 20px;
  }

  .footer__copy {
    font-size: 18px;
  }
}
