.footer {
  text-align: center;
  padding: 40px 17px;

  &--index {
    display: none;
  }
}

.footer__logo {
  fill: $dark-blue;

  &--desktop {
    display: none;
  }
}

.footer__logo-link {
  margin-right: -10px;

  &:hover .footer__logo {
    color: $pink;
    fill: $pink;
  }

  &:active .footer__logo {
    opacity: 0.3;
  }
}

.footer__socials {
  margin: 32px auto;
}

.footer__developer-info {
  margin-right: 15px;
}

.footer__copy {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  color: $dark-blue;
}

.footer__copy-icon {
  display: block;
  fill: $pink;
}

.footer__copy-link:hover .footer__copy-icon {
  fill: $dark-blue;
}

.footer__copy-link:active .footer__copy-icon {
  fill: $dark-blue-30;
}

@media (min-width: $tablet) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 36px 20px 39px 20px;
  }
}

@media (min-width: $desktop) {
  .footer {
    padding: 95px 20px 70px 20px;
  }

  .footer__logo {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
      color: $dark-blue;
      fill: $dark-blue;
    }
  }

  .footer__logo-link {
    margin-right: 30px;
  }

  .footer__copy {
    font-size: 18px;
  }
}
