.form-section {
  color: $dark-blue;
}

.form-section__text {
  margin: 42px auto;

  @media (min-width: $tablet) {
    max-width: 495px;
    margin: 90px auto 70px auto;
  }

  @media (min-width: $desktop) {
    max-width: 752px;
  }
}

.form-section__hidden {
  display: none;

  @media (min-width: $tablet) {
    display: inline-block;
  }
}
