.like {
  display: flex;
  flex-direction: row;
  align-items: center;

  &--tablet {
    display: none;
  }
}

.like__icon {
  margin: 0 19px;
  fill: $pink;
}

.like__text {
  color: $pink;
  font-size: 12px;
  text-transform: uppercase;
}

@media (min-width: $tablet) {
  .like {
    margin-top: auto;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: inline-block;
      margin-left: auto;
    }

    .like__text {
      order: 1;
      margin-right: auto;
    }
  }

  .like__icon {
    order: 2;
  }
}
