.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.photo-card__image {
  display: block;
  width: 100%;
  height: auto;
}

.photo-card__description {
  margin: 0;
  padding: 5px 0;
}

.photo-card__name {
  font-weight: bold;
}

.photo-card__date {
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.5;
}

.photo-card__info-wrapper {
  background-color: pink;
  padding: 25px 18px;
  margin: 0;
}

@media (min-width: $tablet) {
  .photo-card__row {
    display: flex;
  }

  .photo-card__info-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    min-height: 175px;
    padding: 20px 10px 22px 27px;
  }

  .photo-card__image {
    &--main {
      width: 100%;
      height: auto;
    }
  }
}

@media (min-width: $desktop) {
  .photo-card__info-wrapper {
    &--full-width {
      min-height: 96px;
    }
  }
}
