.photo-settings__description {
  margin: 45px auto 45px auto;
}

.photo-settings__bg-color {
  padding: 20px 0 40px 0;
  background-color: $whitish;
}

.photo-settings__flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 320px;
  margin: 0 auto;
}

.photo-settings__form {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  padding-top: 42px;
}

.photo-settings__range {
  padding: 35px 0;
  border-bottom: 1px solid rgba(40, 54, 69, 0.1);
}

.photo-settings__icon {
  opacity: 0.3;
  margin: 0 17px;

  &--active {
    fill: $pink;
    opacity: 1;
  }
}

.photo-settings__button-wrapper {
  padding-top: 38px;
}

.photo-settings__button {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media (min-width: $tablet) {
  .photo-settings__bg-color {
    padding: 57px 0 54px 0;
  }

  .photo-settings__description {
    margin: 50px auto 70px auto;
  }

  .photo-settings__flex-container {
    max-width: 660px;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .photo-settings__form {
    max-width: 357px;
    flex-basis: 50%;
    align-items: center;
    padding: 0 33px 0 48px;
  }

  .photo-settings__row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(40, 54, 69, 0.1);
  }

  .photo-settings__icon {
    width: 22px;
    height: 22px;
    margin: 0 30px 0 0;
  }

  .photo-settings__range {
    border: none;
  }

  .photo-settings__button {
    min-width: 260px;
  }
}

@media (min-width: $desktop) {
  .photo-settings__bg-color {
    padding: 57px 0;
  }

  .photo-settings__flex-container {
    justify-content: center;
  }

  .photo-settings__image {
    width: 300px;
    height: auto;
  }

  .photo-settings__form {
    padding: 0 0 0 90px;
  }

  .photo-settings__description {
    margin: 10px auto 64px auto;
  }

  .photo-settings__row {
    padding: 12px;

    &:first-child {
      padding-top: 0;
    }
  }

  .photo-settings__icon {
    width: 44px;
    height: 44px;
  }

  .photo-settings__range {
    padding: 0;
  }

  .photo-settings__button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  .photo-settings__button {
    min-width: 183px;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 44px;
    }
  }
}
