.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo-card__description {
  margin: 0;
  padding: 5px 0;
}

.photo-card__name {
  font-weight: bold;
}

.photo-card__date {
  text-transform: uppercase;
}

.photo-card__info-wrapper {
  background-color: $whitish;
  padding: 25px 15px;

  &--full-width {
    padding: 15px 35px;
  }
}

@media (min-width: $tablet) {
  .photo-card__row {
    display: flex;
  }

  .photo-card__info-wrapper {
    padding: 25px 15px 50px 15px;

    &--full-width {
      padding: 0 47px;
      margin: 31px auto 78px auto;
    }
  }
}

@media (min-width: $desktop) {
  .photo-card__info-wrapper {
    padding: 30px 15px 80px 15px;

    &--full-width {
      padding: 0 47px;
    }
  }
}
