.photo-card__link {
  display: block;

  &--main {
    position: relative;

    &::before {
      display: block;
      position: absolute;
      padding: 7px 10px 10px 10px;
      font-size: 12px;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      content: "панорама дня";
      top: 0;
      right: 20px;
      width: 140px;
      height: 36px;
      color: white;
      background-color: $pink;
    }
  }
}

.photo-card__image {
  display: block;
  width: 100%;
  height: auto;
}

.photo-card__description {
  margin: 0;
  padding: 5px 0;
}

.photo-card__name {
  font-weight: bold;
}

.photo-card__date {
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.5;
}

.photo-card__info-wrapper {
  background-color: $whitish;
  padding: 25px 18px;
  margin: 0;
}

@media (min-width: $tablet) {
  .photo-card__row {
    display: flex;
  }

  .photo-card__info-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    min-height: 175px;
    padding: 20px 10px 22px 27px;
  }

  .photo-card__link {
    &--main {
      &::before {
        top: 57px;
      }
    }
  }

  .photo-card__image {
    &--main {
      width: 100%;
      height: 509px;
    }
  }
}

@media (min-width: $desktop) {
  .photo-card__info-wrapper {
    &--full-width {
      min-height: 96px;
    }
  }

  .photo-card__link {
    &--main {
      &::before {
        top: 54px;
        right: 130px;
      }
    }
  }
}
