.post-preview {
  display: none;
  padding: 59px 20px 106px 20px;
}

.post-preview__icon {
  fill: $light-grey;
}

@media (min-width: $tablet) {
  .post-preview-bg {
    background-color: $white;
  }

  .post-preview {
    display: flex;
  }

  .post-preview__clock {
    padding: 55px 18px 19px 18px;
    background-image: url("../../img/icon-timer.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .post-preview__clock-text {
    font-size: 96px;
    text-align: center;
    font-weight: bold;
    padding-top: 65px;
    width: 202px;
    height: 202px;
    border: 15px solid $pink;
    color: $pink;
    border-radius: 50%;
  }

  .post-preview__heading {
    max-width: 200px;
    font-size: 30px;
    line-height: 40px;
    margin: 31px 0 20px 0;
  }

  .post-preview__text {
    flex-basis: 47%;
    text-align: left;
    margin-left: 70px;
    line-height: 24px;
  }

  .post-preview__link {
    display: block;
    color: $pink;
    text-decoration: underline;
    margin-top: 15px;
  }
}

@media (min-width: $desktop) {
  .post-preview-bg {
    background-color: $whitish;
  }

  .post-preview__icon {
    width: 298px;
    height: 345px;
  }

  .post-preview__text {
    margin-left: 67px;
    line-height: 30px;
  }

  .post-preview__heading {
    max-width: 100%;
    margin: 55px 0 20px 0;
  }

  .post-preview__description {
    font-size: 18px;
  }
}
