.slider-navi__button {
  width: 12px;
  height: 12px;
  background-color: $dark-blue-30;
  border-radius: 50%;
  margin: 0 7px;
  padding: 0;
  border: solid 3px $white;

  &--whitish {
    border: 3px solid $whitish;
  }

  &:hover {
    background-color: $dark-blue-60;
  }

  &:active {
    background-color: $white;
  }

  &--current {
    border-color: $dark-blue;
    background-color: $white;
    pointer-events: none;
  }
}
