.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include list-reset;

  margin: 40px auto;
}

.socials-list__item {
  width: 50px;
  height: 50px;
  margin: 0 11px;
  border: 3px solid $dark-blue-10;
  border-radius: 50%;

  &:hover {
    border: 3px solid $dark-blue;
  }

  &:active {
    opacity: 0.3;
  }
}

.socials-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: $pink;
}

// .socials-list__icon {
//   fill: $pink;
// }

@media (min-width: $tablet) {
  .socials-list {
    margin: 0 auto;
  }
}
