.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include list-reset;

  margin: 40px auto;
}

.socials-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 0 11px;
  border: 3px solid $dark-blue-10;
  border-radius: 50%;
}

.socials-list__link {
  width: 13px;
  height: 21px;
}

.socials-list__icon {
  fill: $pink;
}

@media (min-width: $tablet) {
  .socials-list {
    margin: 0 auto;
  }
}
