.unordered-list {
  list-style: none;
  line-height: 24px;
  padding: 0;
  margin: 0 auto 0 auto;
}

.unordered-list__item {
  margin-bottom: 29px;
}

.unordered-list__column-image {
  display: none;
}

.unordered-list__heading {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 15px 0;
}

.unordered-list__description {
  color: $dark-blue;
  margin: 0;
}

@media (min-width: $tablet) {
  .unordered-list__item {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop) {
  .unordered-list__item {
    display: flex;
    flex-direction: column;
    flex: 0 1 33.33%;
    align-items: center;
    text-align: center;
    padding: 0 10px;
  }

  .unordered-list__column-image {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 1;
  }

  .unordered-list__heading {
    font-size: 30px;
    line-height: 36px;
    margin: 56px 0 15px;
    max-width: 236px;
  }

  .unordered-list__description {
    font-size: 18px;
    line-height: 32px;
    max-width: 236px;
  }
}
