@import "variables.scss";
@import "base.scss";
@import "mixins.scss";
@import "blocks/header.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/container.scss";
@import "blocks/hero.scss";
@import "blocks/navigation.scss";
@import "blocks/cta.scss";
@import "blocks/button.scss";
@import "blocks/benefits.scss";
@import "blocks/unordered-list.scss";
@import "blocks/review.scss";
@import "blocks/customer-photo.scss";
@import "blocks/photo-card.scss";
@import "blocks/like.scss";
@import "blocks/footer.scss";
@import "blocks/socials-list.scss";
