@import "utils/variables.scss";
@import "utils/base.scss";
@import "utils/mixins.scss";
@import "blocks/button.scss";
@import "blocks/header.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/container.scss";
@import "blocks/hero.scss";
@import "blocks/navigation.scss";
@import "blocks/cta.scss";
@import "blocks/unordered-list.scss";
@import "blocks/benefits.scss";
@import "blocks/review.scss";
@import "blocks/customer-photo.scss";
@import "blocks/photo-card.scss";
@import "blocks/like.scss";
@import "blocks/footer.scss";
@import "blocks/socials-list.scss";
@import "blocks/logo.scss";
@import "blocks/post-preview.scss";
@import "blocks/offers.scss";
@import "blocks/heading.scss";
@import "blocks/contact.scss";
@import "blocks/form-section.scss";
@import "blocks/form.scss";
@import "blocks/checkbox-list.scss";
@import "blocks/radio-list.scss";
@import "blocks/moto.scss";
@import "blocks/photo-settings.scss";
@import "blocks/range.scss";
@import "blocks/slider-navi.scss";
@import "blocks/modal.scss";
@import "blocks/slider-button.scss";
@import "blocks/icon-arrow.scss";
